[Unit]
Description=timekeeper

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/timekeeper restore
ExecStop=/usr/bin/timekeeper store

[Install]
WantedBy=sysinit.target

